* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background: #141414;
}

ul {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
}

ul li {
    display: block;
    width: 340px;
    height: 390px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transform-origin: bottom center;
    transform: rotate(10deg) skew(-30deg);
    transition: 0.5s;
}

ul li span {
    display: block;
    color: #817e7e;
    text-align: center;
    font-size: 2em;
    line-height: 390px;
}

ul li:nth-child(1) {
    transform: rotate(10deg) skew(-30deg) translate(15px, 15px);
}
ul li:nth-child(2) {
    transform: rotate(10deg) skew(-30deg) translate(0px, 0px);
}
ul li:nth-child(3) {
    transform: rotate(10deg) skew(-30deg) translate(-15px, -15px);
}

ul:hover li:nth-child(1) {
    transform: rotate(5deg) skew(0deg) translate(200px, 0);
}
ul:hover li:nth-child(2) {
    transform: rotate(0deg) skew(0deg) translate(0, 0);
}
ul:hover li:nth-child(3) {
    transform: rotate(-5deg) skew(0deg) translate(-200px, 0);
}

ul li::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 15px;
    left: 0;
    bottom: 0;
    background: #8d03fd;
    transition: 0.5s;
}
ul li::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 15px;
    right: 0;
    bottom: 0;
    background: #141414;
    transition: 0.5s;
}

ul li:hover::before {
    left: 50%;
}
ul li:hover::after {
    background: #c893f4;
    right: 50%;
}
